.section-intro {
  padding: 0 5rem;
  color: var(--tertiary-color);
}
.section-projects {
  padding: 0 5rem;
}
.projects {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project {
  font-size: 1.5rem;
}

.section-intro {
  overflow: scroll;
}

.project-list-title {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.project:hover,
.project:active {
  text-decoration: underline var(--primary-color);
  cursor: pointer;
}
