@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: #1f2937;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #fbbf24;
  margin-bottom: 0.3rem;
}
p {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
}

.game-type {
  padding: 1rem;
}

.app {
  width: 400px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.block h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
.row-two {
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}
.column-two {
  border-left: 5px solid white;
  border-right: 5px solid white;
}
h2.block-X {
  color: white;
}

h2.block-O {
  color: #fbbf24;
}
.score {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: white;
}

.winner h2 {
  transform: scale(1.5);
  color: #f87171;
}

input {
  position: absolute;
  opacity: 0;
}
label {
  cursor: pointer;
  margin: 1rem;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  border: solid 1.5px #1f2937;
  font-size: small;
}

input:checked + label {
  /* background-color: blue; */
  border: solid 1.5px #fbbf24;
}

.score-value {
  color: #fbbf24;
}
