:root {
  --primary-color: #10b981;
  --secondary-color: #065f46;
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
}

h1 {
  color: var(--secondary-color);
}

main {
  max-width: 600px;
  background-color: var(--primary-color);
  color: white;
  margin: auto;

  text-align: center;
}

label,
input,
button {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem auto;
  text-align: center;
  border-radius: 0.5rem;
  border-color: transparent;
}

button {
  background-color: var(--secondary-color);
  color: white;
}

table,
td,
tr {
  margin: auto;

  border-collapse: collapse;
}

table,
td,
tr {
  border: 1px solid var(--secondary-color);
}

td,
tr {
  width: 2rem;
  height: 2rem;
}
caption {
  margin-bottom: 1rem;
}

#msg,
#msg-check {
  color: red;
}

#showdetails,
#msg-check {
  display: none;
}
