@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #fbbf24;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

.nav__network svg {
  width: 100%;
  height: 30px;
}

.main {
  display: flex;
  height: 100vh;
}

.nav {
  flex-basis: 4%;
  display: flex;
  padding: 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.section-intro,
.section-projects {
  flex-basis: 45%;
  flex: 48%;
}

.nav__links,
.nav__networks {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__link a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.nav__link a:hover,
.nav__link a:active {
  border-bottom: 1.5px solid var(--tertiary-color);
}
.active-page a {
  color: var(--tertiary-color);
}
.nav__link {
  transform: rotateZ(-90deg);
  margin: 3rem 0;
  text-align: center;
}
.nav__network {
  margin: 0.5rem;
}

.section-intro {
  padding: 1rem;
  background-color: var(--secondary-color);
  padding-left: 8rem;
  padding-top: 4rem;
}
.section-intro__intro-text {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 0.1rem 0;
  font-style: italic;
}
.section-intro__name {
  font-size: 5rem;
  color: var(--tertiary-color);
  margin: 0.5rem 0;
}

.section-intro__about {
  color: var(--tertiary-color);
  width: 20rem;
  font-style: italic;
}

.section-projects {
  padding: 1rem;
  background-color: var(--primary-color);
}
.section-projects__image {
  margin: auto;
  width: 70%;
  height: 70%;
  vertical-align: middle;
}
.section-projects__image svg {
  width: 100%;
  height: 100%;
}
.btn {
  padding: 0.8rem;
  background-color: black;
  outline: none;
  border: none;
}
.btn a {
  text-decoration: none;
  font-family: inherit;
  color: #fbbf24;
  font-size: 1.5rem;
}
.btn a:hover,
.btn a:active {
  color: white;
}
.btn-project-list {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: white;
}
