@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --primary-color: #1E40AF;
    --secondary-color: #4B5563;
    --tertiary-color: #F87171;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    padding: 0rem 1rem;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.secondary-link {
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)

}

.link {
    text-decoration: none;
}

.list-non-bullets {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.navigation .link {
    color: white;
}

.navigation .list-non-bullets {
    text-align: right;
}

.navigation-heading {
    font-weight: bold;
    font-size: large;
}

.link-active {
    font-weight: bold;
}

.hero-text {
    text-align: center;
}

.hero-image {
    max-width: 200px;
    display: block;
    margin: auto;

}

.secondary-list {
    text-align: center;
    padding: 1rem;
}
 
.reset {
    margin: 0rem;
    border: 0rem;
}

.subject-heading {
    color: var(--secondary-color);
    padding: 0rem 0.5rem;
}

.blog-para {
    padding: 0rem 1rem;
}

.tertiary-color {
    color: var(--tertiary-color);
}

.project-list {
    padding: 0rem 1rem;
}

.project-link {
    color: var(--primary-color);
}

