@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --primary-color: #312E81;
    --secondary-color: #C7D2FE;
}

h1 {
    margin: 0rem;
    padding: 0.5rem;
}

p {
    margin: 0.5rem;
}

body {
    margin: 0rem;
}

label, button, input {
    display: block;
    text-align: center;
    margin: auto;
    
    margin-bottom: 0.5rem;
    
}


main {
    background-color: var(--primary-color);
    margin: auto;
    font-family: 'Lobster', cursive;
    max-width: 600px;
    color: var(--secondary-color);
    text-align: center;
    height: 100%;
    
}

table, tr, td {
    margin: auto;
    border: 1.5px black solid;
    color: black;
    border-collapse: collapse;
    text-align: center;
    background-color: 
    #E0E7FF;
    padding: 2px;
    
}

td {
    width: 3rem;
    height: 3rem;
}

caption {
    margin: 0.5rem;
}

.number-of-notes {
    background-color: white;
}

caption {
    color: var(--secondary-color);
}

button {
    background-color: var(--secondary-color);
    padding: 0.3rem 1rem;
    font-family: 'Lobster', cursive;
}






