.section-intro {
  flex-basis: 76%;
  padding: 2rem 5rem;
  color: black;
  background-color: #f3f4f6;
  overflow: scroll;
}
.section-projects {
  flex-basis: 20%;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.blogs-list {
  list-style: square;
  padding: 0.3rem;
  margin: 0;
}

.blog-title a {
  text-decoration: underline var(--secondary-color);
  color: var(--secondary-color);
}
.section-projects hr {
  border: 0;
  background: var(--secondary-color);
  outline: none;
  height: 1.5px;
}

@media (max-width: 400rem) {
  .section-intro {
    flex-basis: 100%;
    padding: 3rem;
    font-size: 1.5rem;
  }
  .section-projects {
    position: fixed;
    bottom: 0;
    opacity: 0;
  }
  .close {
    position: absolute;
    top: 0;
    left: 0;
    font-family: inherit;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    /* border: transparent; */
    /* text-decoration: underline; */
  }

  .btn-up {
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: transparent;
    border: transparent;
  }
  .btn-up svg {
    width: 100%;
    height: 100%;
  }

  .main {
    padding: 0;
  }
}
