body {
  background-color: #f3f4f6;
}
.main {
  flex: none;
  display: block;
  margin: 0;
  padding: 0;
}
.section-projects {
  display: none;
}
.section-intro {
  display: block;
  margin: auto;
  flex: none;
  width: 70vw;
  background-color: white;
  color: black;
  padding: 2rem;
  /* padding-left: 8rem; */
  background-color: #fffbeb;
  /* scroll-behavior: smooth; */
}

/* .section-intro::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
} */
.nav {
  position: fixed;
  left: 0;
  height: 100vh;
  /* display: none; */
}
.section-intro a {
  text-decoration: none;
  color: #fbbf24;
}
