* {
  box-sizing: border-box;
}

body {
  font-family: 'Shippori Antique', sans-serif;
  margin: 0;
}

.hero__nav {
  background-color: #5b21b6;
  padding: 10px;
  text-align: center;
  color: white;
}

.hero__nav__game-title {
  color: #d97706;
  font-size: 40px;
}
.main {
  text-align: center;
}
.main__game-intro {
  color: #5b21b6;
  font-weight: bold;
}

.main__input {
  padding: 10px;
  margin: 8px;
  color: inherit;
  background-color: #5b21b6;
  color: white;
  border-color: transparent;
  border-radius: 18px;
  font-size: 15px;
  min-width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.main__input:focus {
  background-color: white;
  color: #5b21b6;
  border: solid 1.5px #5b21b6;
}

.main__bet-output {
  color: #5b21b6;
  margin-top: 20px;
  display: none;
}

#compInput {
  background-color: #5b21b6;
  color: white;
}
#msg {
  font-size: 25px;
}
