@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

:root {
    --primary-color: #F59E0B
}

body {
    font-family: 'Irish Grover', cursive;
   margin: 0;
}

nav {
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    font-size: large;
}

#div-nav {
    font-size: 2rem;   
    padding: 1rem;
}

#translate-input {
    display: block;
    width: 100%;
    min-height: 5rem;
    box-sizing: border-box;
    font-size: medium;
    
    border: 1.5px var(--primary-color) solid;
    font-family: 'Irish Grover', cursive;
    color: black; 

}

#translate-output {
    width: 100%;
   
    box-sizing: border-box;
    min-height: 5rem;
    border: 1.5px var(--primary-color) solid;
    font-family: 'Irish Grover', cursive;
    color: black;
    font-size: medium;
    
}

button {
    display: block;
    font-family: 'Irish Grover', cursive;
    margin: 1rem 0rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    font-size: large;
    border-color: transparent;
}


    


main {
    max-width: 600px;
    margin: auto;
    padding: 1rem;

}

nav p {
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    margin: 0;
}